.calc-form {
  padding: 30px 0;
}

/* .calc-form .control-label {
  color: #cfd8dc;
} */

.form-group_calc {
  padding-top: 15px;
}

.calc-form__title {
  margin: 20px 0;
  border-bottom: 1px solid;
}

.calc-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 50px;
  height: 100%;
}

/* .calc-data::before {
  content: '';
  background-image: url('../images/calc/calc-top.png');
  display: block;
  height: 40px;
  background-position: top;
  background-size: cover;
  margin-right: -10px;
  margin-left: -11px;
} */
.calc-data__top {
  display: flex;
  height: 22px;
}

.calc-data__top img {
  width: 100%;
  height: 100%;
}

.calc-data__list {
  position: relative;
  list-style: none;
  z-index: 200;
  padding: 20px 30px;
  font-size: .75rem;
  margin: 0;
  /* background-color: #fbf7f2; */
  color: #607D8B;
  /* box-shadow: 0px 0px 1px 0px #f7f7f7b3;
  box-shadow: inset 0px 4px 12px 0px rgba(0, 0, 0, 0.29); */
  /* border-top: 1px solid #56656d9e; */
  /* margin-top: -29px; */
}

.calc-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.calc-data__value {
  display: flex;
  justify-content: space-between;
  padding: 3px 7px;
}

.value_total {
  font-weight: bold;
  font-size: 1.1em;
}

.value_total:last-child {
  justify-content: flex-end;
}

.calc-data__fill-space {
  border-bottom: 1px dotted;
  min-width: 10px;
  flex-grow: 1;
}

.calc-data__devider {
  margin: 20px 0;
  border-top: 2px solid;
}

@media (max-width: 575px) {
  .calc-data {
    padding: 15px 0;
  }
    
}
