html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  font: 15px/20px 'Roboto Condensed', sans-serif !important;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  border-radius: 2px !important;
}

.alert {
  font-size: 14px;
  line-height: 24px;
  display: block;
}

.no-content {
  padding: 15px;
  width: 100%;
  font-size: 1.1rem;
}

/* NOTIFICATION */

.notification {
  display: flex;
  align-items: center;
}

.notification__icon {
  height: 50px;
  margin-right: 25px;
}

.notification__message {
  margin: 0;
  font-size: 14px;
}

/* NOTIFICATION */

.alert_default {
  background-color: whitesmoke;
  color: #757575;
}

.text-sm {
  font-size: 12px;
  line-height: 16px;
}

.label-sm {
  font-size: .9rem;
  line-height: 1rem;
}

.invalid-feedback {
  display: initial;
}

.App {
  text-align: center;  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.hidden {
  display: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page {
  padding: 20px 0;
}

.page-title {
  padding: 5px 0;
  margin-bottom: 15px;
}

.title_secondary {
  color: #076d9e;
  font-weight: bold;
  text-decoration: underline;
}
