@font-face {
    font-family: "Roboto Condenced";
    src: url("./assets/fonts/RobotoCondensed-Regular.ttf");
}
@font-face {
    font-family: "Roboto Condenced";
    src: url("./assets/fonts/RobotoCondensed-Italic.ttf");
    font-style: italic, oblique;
}
@font-face {
    font-family: "Roboto Condenced";
    src: url("./assets/fonts/RobotoCondensed-Light.ttf");
    font-weight: 300;
}
@font-face {
    font-family: "Roboto Condenced";
    src: url("./assets/fonts/RobotoCondensed-LightItalic.ttf");
    font-weight: 300;
    font-style: italic, oblique;
}
@font-face {
    font-family: "Roboto Condenced";
    src: url("./assets/fonts/RobotoCondensed-Bold.ttf");
    font-weight: bold;
}
