.error-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  position: relative;
  padding: 30px;
}

.error-page__pane {   
  max-width: 600px;
}

.error-page__code {
  font-size: 50px;
  font-weight: bold;
  color: grey;
}

.error-page__title {
  font-weight: bold;
  font-size: 26px;
}

.error-page__link {
  color: #007bff;
}
