.breadcrumbs {
  background-color: transparent;
}

.breadCrumbs-list {
  display: flex;
  color: #90A4AE;
  list-style: none;
  padding: 0;
  font-size: 14px;
  margin: 0;
}

.bc-divider {
  margin: 0 5px;
}

.bc-link {
  color: #90A4AE;
}
