.gallery {
  column-count: 4;
  column-gap: 0.5em;
}

.gallery--item {
  background-color: white;
  position: relative;
  cursor: pointer;
  display: inline-block;
  height: 220px;
  overflow: hidden;
  padding: 10px;  
}

.gallery--item img {
  transition: .4s ease-in-out;
}

.gallery--item:hover img {
  box-shadow: 0 0 6px 2px rgba(128, 128, 128, 0.55);
}

.gallery--item > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding: 5px;
  object-position: 50% 50%;
  border: 1px solid #CFD8DC;
}
