.loading-portal {
  height: calc(100vh - 176px);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #808080;
}

.loading-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 900;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
