.multi-file-container {
    display: flex !important;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid lightgrey;
    background-color: #fff;
    height: 250px;
  }

  .profile-photo-preview {
    max-height: 100%;
    max-width: 100%;
  }
  
  .offer-photo-preview {
    max-height: 150px;
    max-width: 100%;
  }
  
  .del-attachment_btn {
    position: absolute;
    top: 100px;
    opacity: 0.7;
  }
  
  .multi-file-container .remove-btn {
    position: absolute;
    z-index: 50;
    top: calc(50% - 14px);
    left: calc(50% - 40px);
    opacity: 0.6;
  }
  
  .image-gallery-image {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
  }
  
  .image-gallery-thumbnail {
    height: 60px;
    margin-top: 5px;
  }
  
  .image-gallery-thumbnail-inner {
    height: 100%;
    padding: 2px;
    border: 1px solid grey;
  }
  
  .image-gallery-thumbnail-inner img {
    width: auto;
    max-width: 100%;
    max-height: 100%;
  }
  
  .file-remove-btn {
    display: block;
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.6);
    border-radius: 2px;
    padding: 4px 15px;
    bottom: 5px;
    right: 5px;
  }
  
  .file-remove-btn:not(:disabled):not(.disabled):hover,
  .file-remove-btn:not(:disabled):not(.disabled):active {
    background-color: rgba(0, 0, 0, 0.75);
    border-color: rgba(0, 0, 0, 0.85);
  }
  
  .file-remove-btn:focus, .file-remove-btn.focus {
    box-shadow: 0 0 0 0.2rem rgba(132, 132, 132, 0.5);
  }
  
  .image-gallery-left-nav, .image-gallery-right-nav {
    font-size: 2.5em;
    padding: 15px;
  }
  
  .multi-file-controls {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }