.statistics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.stat-block {
  font-size: 14px;
  line-height: 25px;
  width: 25%;
  display: flex;
  flex-direction: column;
  padding: 30px 10px 10px;
  align-items: center;
}

.stat-block--icon {
  font-size: 2.5em;
  margin-bottom: 0.25em;
}

.stat-block--value {
  font-size: 2.25em;
  line-height: 1.4em;
  letter-spacing: -1.5px;
  font-weight: bold;
}

.stat-block--title {
  font-size: 0.9em;
  line-height: 1.5em;
  font-weight: normal;
  text-align: center;
  margin-top: 10px;  
}

.stat-block--value,
.stat-block--icon {
  color: #75ffd9;
}



@media (max-width: 767px) {
  .stat-block {
    width: 50%;
  }
}


@media (max-width: 575px) {
  .stat-block {
    width: 100%;
  }
}
