.contact-data_section, .map_section {
  padding: 15px 0;
}

.office-data {
  padding: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 325px;
}

.office-data__block {
  width: 250px;
  padding: 15px 0;
}

.office-data__title {
  color: #17a2b8;
  font-size: 20px;
  font-weight: bold;
}

.office-data__details {
  padding: 2px 7px;
  line-height: 24px;
}

.office-data__details svg {
  margin-right: 5px;
  fill: #17a2bf;
  color: #17a2b8;
  width: 24px !important;
}

.map_section .map-container {
  height: 300px;
  overflow: hidden;
  position: relative;
}
