.section {
    position: relative;
    padding: 35px 10px;
    background-color: white;
    /* overflow-x: hidden; */ /* мешает работе плагина AOS */
}

/* .project_section {
    padding-left: 10px;
    padding-right: 10px;
} */

.slider_section, .grey_section {
    background-color: whitesmoke;
    /* padding: 0; */
}

.section_map {
    padding: 0;
}

.service_section {
    color: #607D8B;
    background-color: whitesmoke;
}

.slider_section {
    padding: 0;
}

.blue_section {
    background-color: #28a745;
    background-color: #006497;
    color: #ECEFF1;
}

.calc_section {
    background-image: url('../../assets/images/calc/calc-bg.png');
}

.main-slider {
    height: 520px;
    position: relative;
}

.main-project-slider {
    margin-bottom: 20px;
}

.slide {
    height: 100%;
    position: relative;
}

.slide__img {
    max-height: 100%;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.slide-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.slide__info {
    height: 100%;
    padding: 20px 0;
    min-width: 320px;
    max-width: 500px;
    display: flex;
    align-items: center;
}
.slide__title {
    font-size: 1.35em;
}

.slide__text {
    font-size: 14px;
}

.info-container {
    background-color: rgba(40, 167, 69, 0.85);
    background-color: rgba(0, 99, 152, 0.85);
    color: #FFF59D;
    font-style: italic;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 25px;
}

.service {
    display: flex;
    color: #4a4848;
    padding: 20px 0;
}

.service__icon {
    font-size: 50px;
    margin-right: 15px;    
    padding: 10px 0;
}

.service__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.service__description {
    color: #607D8B;
    font-size: 12px;
    line-height: 16px;
}


.co-description {
    padding: 25px 0;
}

.section__title {
    text-align: center;
    padding: 15px;
    color: #4a4848;
    margin: 0;
    text-decoration: underline;
}

.section__sub-title {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 0;
    padding: 15px;
    text-align: center;
}

.work-step_title {
    color: whitesmoke;
    text-decoration: none;
}

.work-categories {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.category__img-container {
    height: 270px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
}

.category__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.work-category__details {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
    padding: 10px 15px;
}

.work-category__title {
    font-size: 24px;
}

.work-category__item {
    font-size: 12px;
    margin: 0;
}


.category {
    width: 100%;
    position: relative;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.category:nth-child(even) {
    flex-direction: row-reverse;
}


.category__info {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 10px 25px;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.category__title {
    font-size: 24px;
    font-weight: bold;
    color: #076d9e;
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.category__description {
    color: #343a40;
    font-style: italic;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 15px;
}

.category__link {
    padding: 0.2rem 0.5rem;
    font-size: 0.75rem;
    line-height: 1.3;
    border-radius: 0;
    margin-left: 15px;
}

.category__features {
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.features-caption {
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0;
}

.feature {
    list-style: disc;
    list-style-position: inside;
    font-size: 12px;
    padding-right: 15px;
}

.feedback-form {
    width: 300px;
    margin: auto;
    padding: 0;
}

.feedback-form__description {
    text-align: center;
    font-size: 18px;
    line-height: 22px;
    color: #B3E5FC;
}

.input-sm {
    border-radius: 0.1rem;
    font-size: .75rem !important;
    padding: 0.175rem 0.75rem;
}

.block-devider {
    border-left: 1px solid;
}

.project-slide {
    padding: 0 10px;
}

.project-data .project-slide {
    padding: 0;
}

.project-slide__img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

/**
/* 
/* .slider__slide.project-slide {
    width: 30%;
    background: white;
    border: 1px solid lightgray;
    position: relative;
    height: 300px;
} */

.project-slide__data-list {
    list-style: none;
    padding: 15px 25px;
}

.project-slide_name {
    font-size: 20px;
    font-weight: bold;
    color: #37474F;
}

.project-slide_category {
    color: #78909C;
    font-size: 14px;
}

.project_slider {
    display: flex;
    justify-content: space-around;
}

.bg-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 100%;
    opacity: .1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

label {
    margin-bottom: 0.2rem;
}

.brand-container {
    position: relative;
    padding: 30px 15px;
}

.brand-icon {
    width: 100%;
    max-width: 350px;
    max-height: 140px;
    margin: auto;
    opacity: 0.8;
}

/* Media queries */
@media (max-width: 767px) {
    .hh-hide {
        display: none;
    }

    .section__title {
        font-size: 28px;
    }
}

@media (max-width: 575px) {    
    .category {
        flex-direction: column !important;
        align-items: center;
    }

    .category__info {
        padding: 10px 0;
    }

    .category__img-container {
        width: 100%;
    }

    .block-devider {
        border-left: none;
        border-top: 1px solid;
        margin-top: 30px;
        padding-top: 15px;
    }
}
