.project-page {
    background-color: whitesmoke;
}

.project-data {
    border: 1px solid lightgray;
    background-color: white;
    padding: 15px 25px;
}

.project-gallery {
    width: 100%;
    height: 300px;
    position: relative;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.project-table {
    padding: 15px 0;
}

.project-table__caption {
    font-size: 18px;
    padding: 10px 15px;
    font-weight: bold;
}

.project-table__row th,
.project-table__row td {
    vertical-align: middle;
}

.project_table {
    margin-bottom: 0;
}

.project-table__row:last-child {
    border-bottom: 1px solid #dee2e6;
}

.project-table__stat-name {
    padding: 0.4rem 0.9rem !important;
    font-weight: normal;
}

.project-table__stat-value {
    text-align: right;
    padding: 0.4rem 0.9rem !important;
}

.price-block {
    text-align: right;
    font-size: 1.2em;
    line-height: 1.6em;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    padding-left: 15px;
    color: #D84315;
}

.price-remark {
    font-style: italic;
    color: gray;
    padding: 0 10px;
    width: 100%;
}

.project__description .section-title {
    font-size: 1.75rem;
    font-weight: bold;
}

.project__description ul {
    margin-top: 0;
    margin-bottom: 1rem;
    padding-left: 25px;
    list-style: disc;
    line-height: 1.75rem;
}

.btn-action {
    background-color: var(--teal);
      color: white;
      border-color: var(--teal);
      padding: 4px 12px;
      min-width: 175px;
  }
  
  .btn-action:hover {
    color: #fff;
    background-color: #25a07c;
    border-color: #258468;
  }
