.filters {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
}

.filters__header {
    background-color: #CFD8DC;
    background-color: var(--teal);
    background-color: #006292;
    padding: 10px 15px;
}

.filters__caption {
    font-size: 18px;
    margin: 0;
    color: white;
}

.filters__body {
    border: 1px solid lightgray;
}

.filters__block {
    padding: 5px 15px;
}

.filters__block:not(:last-child) {
    border-bottom: 1px solid lightgray;
}

.filters__title.control-label {
    color: #455A64;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
}

.filters__block .form-control {
    border-radius: 2px;
    font-size: 12px;
    text-align: center;
    height: 30px;
    color: #78909C;
    font-weight: 400;
}

.multi-input__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.multi-input__group:after {
    content: "";
    display: block;
    height: 1px;
    border-bottom: 1px solid #ced4da;
    width: 10%;
    position: absolute;
    top: 50%;
    left: 45%;
}

.multi-input__group .form-control {
    width: 40%;
}

.rangeslider.multi-input {
    padding: 0;
}

.rangeslider.multi-input .input-range__label {
    display: none;
}

.filters-show-btn {
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: 2px solid white;
    font-size: 20px;
    z-index: 800;
    background-color: #03A9F4;
    color: white !important;
    outline: none !important;
}
