.form-error {
    color: red;
    position: absolute;
    width: 100%;
    bottom: -20px;
    left: 2px;
}

.admin_sidebar {
    position: fixed;
    width: 25%;
    height: 100vh;
    box-shadow: 1px 0px 8px 1px rgba(128, 128, 128, 0.25);
    /* background-color: #3E5465; */
}

.admin__content {
    width: 75%;
    float: right;
    padding: 30px;
    min-height: 100vh;
    background-color: #EEF0F4;
}

.admin__header {
    display: flex;    
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.menu_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.35);
    padding: 15px 10px;
}

.menu_header__img {
    max-height: 65px;
}

.menu_header__title {
    font-size: 20px;
    margin: 0;
    padding: 10px;
}

.project_form {
    padding: 25px;
    background-color: white;
}

.control-label {
    /* font-size: .9rem; */
    /* line-height: 1rem; */
    padding: 0 .2rem;
    margin-bottom: 0.1rem;
    color: #a8aeb1;
}

.form-control {
    color: #37474F;
    font-size: .9rem;
    font-weight: bold;
}

.form-group {
    position: relative;
}

.project_form .form-group {
    margin-bottom: 1.5rem;
}

.admin_menu {
    list-style: none;
    padding: 25px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* .admin_menu__item {
    flex: 0 0 75px;
} */

.admin_menu__icon {
    font-size: 1.5rem;
    color: #006193;
}

.admin_menu__info {
    border-top: 1px solid #eef0f4;
    border-bottom: 1px solid #eef0f4;
    height: 45px;
    font-size: 18px;
    color: #abc9d7;
}

.admin_menu__navlink {    
    font-size: 16px;
    height: 75px;    
    color: #006193 !important;
}

.admin_menu__navlink,
.admin_menu__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.admin_menu__navlink:focus,
.admin_menu__navlink:hover {
    outline-color: #202a2f;
    background-color: whitesmoke;
}

.navlink_active {
    background-color: #364A5A
}

.rangeslider {
    padding-top: 20px;
  }
  
  .input-range__label--min, .input-range__label--max {
    display: none;
  }
  
  .input-range__track--active {
    background: #17a2b8;
  }
  
  .rangeslider_light .input-range__track--active {
    background: #b3b9b9;
  }
  
  .input-range__label {
    color: #37474f;
    font-weight: 600;
  }
  
  .rangeslider_light .input-range__label {
    color: #ffffff;
    font-weight: 600;
  }
  
  .input-range__slider {
    background: #ffffff;
    border: 1px solid #c0c0c0;
  }

  /* .project-list-layout {
    background-color: white;
    padding: 30px;
} */

.admin__content-section-wrapper {
    padding-left: 15px;
    padding-right: 15px;
}

.section_white {
    background-color: white;
}

.admin__links-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 30px;
    justify-content: space-between;
}

.admin__link-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #BBDEFB !important;
}

.admin__link-block {
    background-color: #006193;
    color: white;
    padding: 20px 35px;
    width: 46.5%;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}



.no-items-alert {
    height: calc(100vh - 148px);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 0 8px 1px rgba(128, 128, 128, 0.25);
}

.materials_table {
    padding: 30px 15px;
}

.table__row td,
.table__row th {
    vertical-align: middle;
    padding: 5px 15px;
}

.table__row th {
    border-top: none;
}

.table__row .btn {
    width: 32px;
    margin: 2px;
}

.gallery--img-container {
    position: relative;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    padding: 15px;
    margin-bottom: 10px;
    margin-right: -10px;
    margin-left: -10px;
}

.gallery--img {
    max-width: 100%;
    max-height: 100%;
}

.gallery--img-edit-btn {
    position: absolute;
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    right: 0px;
    bottom: 0px;
    color: #17a2b8;
    border: none;
    background-color: transparent;
}

.gallery--img-del-btn {
    position: absolute;
    right: 0px;
    top: 0px;
    cursor: pointer;
}

.gallery--img-del-btn input {
    
}



.photo_modal {
    max-width: 100%;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.photo_modal--title {
    font-size: 24px;
    padding: 10px 15px;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.rdw-editor-toolbar {
    margin-bottom: 0;
    border-color: #eef0f4;
    background-color: #eef0f4;
}

.rdw-editor-main {
    padding: 15px 30px;
    border: 1px solid #eef0f4;
}


/* Media queries */
@media (max-width: 767px) {
    .admin__content {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 575px) {
    .admin__link-block {
        width: 100%;
    }
    
    .admin__content {
        padding-left: 0;
        padding-right: 0;
    }
}
