.login-layout {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  width: 450px;
  padding: 45px 30px;
  box-shadow: 0px 0px 8px 2px rgba(185, 185, 185, 0.5);
}

.login-form--header {
  padding: 10px;
}

.login-form--header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .login-form--info {
  font-size: 14px;
} */

.login-form--logo {
  height: 90px;
  margin-bottom: 20px;
}

.login-form--title {
  font-size: 22px;
  line-height: 30px;
  padding: 15px;
  font-weight: 600;
  color: #37474F;
}
