.container {
  max-width: 1140px !important;
}

.project-card-wrapper {
  margin-bottom: 15px;
  width: 275px !important;
  flex-grow: .25 !important;
}

.project-features {
  padding: .5em .25em 0;
  list-style: none;
  margin: 0;
}

.project-features-item {
  position: relative;
  font-size: 12px;
  letter-spacing: -0.5px;
  color: #546e7a;
}

.project-icon {
  fill: #546e7a;
  width: 25px;
  height: auto;
  margin-right: 5px;
}

.ft-recipe {
  /* width: 250px; */
  height: 100%;
  background: #fff;
  background: var(--white);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px solid lightgrey;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px 0px;
}

.ft-recipe .ft-recipe__thumb {
  position: relative;
  height: 150px;
}

.project-price {
  position: absolute;
  right: 10px;
  top: 110px;
  padding: 5px 15px;
  background-color: rgba(32, 201, 151, 0.75);
  color: white;
  margin: 0;
}

.ft-recipe .ft-recipe__thumb h3 {
  text-align: center;
  position: absolute;
  opacity: .5;
  text-shadow: 0px 1px 0px #323232;
  margin: 0;
  width: 100%;
  color: #fff;
  color: var(--white);
  font-family: 'Josefin Sans', sans-serif;
  font-family: var(--headlinesFont);
  font-size: 25px;
  height: 100%;
  padding: 2.4rem 0 0;
}
.ft-recipe .ft-recipe__thumb img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.ft-recipe .ft-recipe__content {
  flex: 1 1;
  padding: 0 0.9em 0.9em;
}

.ft-recipe .ft-recipe__content .content__header .row-wrapper {
  display: flex;
  padding: 0.85em 0 0.15em;
  border-bottom: 1px solid #d8d8d8;
}

.ft-recipe .ft-recipe__content .content__header .row-wrapper .recipe-title {
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  font-family: var(--headlinesFont);
  font-weight: 600;
  font-size: 1rem;
  color: #455A64;
  letter-spacing: -0.5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ft-recipe .ft-recipe__content .content__header .row-wrapper .recipe-title a {
  color: #455A64;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
}

.ft-recipe .ft-recipe__content .content__header .recipe-details {
  display: flex;
  list-style: none;
  padding: 0 0 10px;
  margin: 0;
  justify-content: space-between;
}

.ft-recipe .ft-recipe__content .content__header .recipe-details .recipe-details-item {
  flex: 1 1;
  position: relative;
  padding: 10px;
  font-size: 1em;
  line-height: 1.3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--orange);
  background-color: #006292;
  color: white;
  outline: 1px solid whitesmoke;
}

.recipe-details__title {
  line-height: 1em;
  font-size: 0.7em;
}

.ft-recipe .ft-recipe__content .content__header .recipe-details .recipe-details-item i {
  font-size: 30px;
}

.ft-recipe .ft-recipe__content .content__header .recipe-details .recipe-details-item .value {
  vertical-align: bottom;
  font-size: 0.85em;
  font-weight: 600;
}

.ft-recipe .ft-recipe__content .content__header .recipe-details .recipe-details-item .title {
  display: block;
  margin-top: -4px;
  font-family: 'Josefin Sans', sans-serif;
  font-family: var(--headlinesFont);
  font-size: 16px;
  font-weight: 300;
}

@media (max-width: 575px) {
  .project-card-wrapper {
    margin-left: auto;
    margin-right: auto;
  }
}
