.order-icon {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 10px;
  color: white;
  background-color: transparent;
  text-align: center;
}

.icon_msg {
  background-color: #9C27B0;
}

.icon_calc {
  background-color: #ff5722;
}

.icon_clbck {
  background-color: #009688;
}

.icon_project {
  background-color: #3f51b5;
}

.ptr--date {
  color: grey;
  font-size: 12px;
  width: 80px;
  text-align: right;
  line-height: 16px;
}

.ptr--phone {
  font-size: 14px;
}
