.project-card {
  background: white;
  width: 300px;
  display: inline-block;
  margin: auto;
  border-radius: 19px;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 9999;
}

.project-card__image {
  position: relative;
  height: 230px;
  margin-bottom: 35px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.project-card__image--barbarian {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/barbarian-bg.jpg");
}
.project-card__image--barbarian img {
  width: 400px;
  position: absolute;
  top: -65px;
  left: -70px;
}

.project-card__image--archer {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/archer-bg.jpg");
}
.project-card__image--archer img {
  width: 400px;
  position: absolute;
  top: -34px;
  left: -37px;
}

.project-card__image--giant {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/giant-bg.jpg");
}
.project-card__image--giant img {
  width: 340px;
  position: absolute;
  top: -30px;
  left: -25px;
}

.project-card__image--goblin {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/goblin-bg.jpg");
}
.project-card__image--goblin img {
  width: 370px;
  position: absolute;
  top: -21px;
  left: -37px;
}

.project-card__image--wizard {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/wizard-bg.jpg");
}
.project-card__image--wizard img {
  width: 345px;
  position: absolute;
  top: -28px;
  left: -10px;
}

.project-card__level {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
}

.project-card__level--barbarian {
  color: #EC9B3B;
}

.project-card__level--archer {
  color: #EE5487;
}

.project-card__level--giant {
  color: #F6901A;
}

.project-card__level--goblin {
  color: #82BB30;
}

.project-card__level--wizard {
  color: #4FACFF;
}

.project-card__unit-name {
  font-size: 26px;
  color: black;
  font-weight: 900;
  margin-bottom: 5px;
}

.project-card__unit-description {
  padding: 20px;
  margin-bottom: 10px;
}

.project-card__unit-stats--barbarian {
  background: #EC9B3B;
}
.project-card__unit-stats--barbarian .one-third {
  border-right: 1px solid #BD7C2F;
}

.project-card__unit-stats--archer {
  background: #EE5487;
}
.project-card__unit-stats--archer .one-third {
  border-right: 1px solid #D04976;
}

.project-card__unit-stats--giant {
  background: #F6901A;
}
.project-card__unit-stats--giant .one-third {
  border-right: 1px solid #de7b09;
}

.project-card__unit-stats--goblin {
  background: #82BB30;
}
.project-card__unit-stats--goblin .one-third {
  border-right: 1px solid #71a32a;
}

.project-card__unit-stats--wizard {
  background: #4FACFF;
}
.project-card__unit-stats--wizard .one-third {
  border-right: 1px solid #309eff;
}

.project-card__unit-stats {
  color: white;
  font-weight: 700;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}
.project-card__unit-stats .one-third {
  width: 33%;
  float: left;
  padding: 20px 15px;
}
.project-card__unit-stats sup {
  position: absolute;
  bottom: 4px;
  font-size: 45%;
  margin-left: 2px;
}
.project-card__unit-stats .stat {
  position: relative;
  font-size: 24px;
  margin-bottom: 10px;
}
.project-card__unit-stats .stat-value {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
}
.project-card__unit-stats .no-border {
  border-right: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.slick-prev {
  left: 100px;
  z-index: 999;
}

.slick-next {
  right: 100px;
  z-index: 999;
}