.project-table-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  margin-bottom: 10px;
  background-color: white;
  padding: 10px 25px;
  box-shadow: 0px 0px 6px 2px rgba(128, 128, 128, 0.35);
}

.ptr--info {
  flex: 0.7 1 30%;
  padding: 0 15px;
  color: #455A64;
}

.ptr--title {
  font-size: 1.15em;
  font-weight: 600;
  margin: 0;
  display: block;
}

.ptr--category {
  opacity: .8;
}

.ptr--price {
  padding: 0 15px;
  flex: 0.2 1 14%;
  font-weight: 600;
  font-size: 1.1em;
  color: #ed9aa2;
}


/* Media queries */
@media (max-width: 767px) {

  .project-table-row {
      flex-wrap: wrap;
      font-size: 12px;
      padding-left: 15px;
      padding-right: 15px;
      justify-content: initial;
      margin-bottom: 5px;
  }

  .ptr--info {
    flex: 1 1 75%;
    padding: 0 10px;
  }

  .ptr--title, .ptr--price {
      font-size: 12px;
  }

  .ptr--category, .ptr--price {
      display: none;        
  }

  .ptr--tools .btn {
    border: none;
    padding: 0 !important;
    margin: 0 !important;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: none;
    font-size: 12px;
  }
}

@media (max-width: 575px) {
  
}
