.footer {
  background-color: #E0E0E0;
  padding: 20px 0;
  color: #6d8298;
}

.footer-block {
  padding-top: 15px;
  padding-bottom: 15px; 
}

.footer--contact-list {
  list-style: none;
  padding: 0;
}

.footer-contact-list li,
.footer-menu-list a {
  padding: 5px 0;
  display: block;
}

.footer .block--title {
  color: #455A64;
}

.snw-list {
  display: flex;
}

.snw-list li {
  margin-right: 5px
}

.snw--link {
  padding: 7px;
  border: 1px solid;
  border-radius: 3px;
  width: 30px;
  height: 30px;
  font-size: 16px;
  line-height: 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
