.top-line {
  display: flex;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
}

.mob-menu {
  display: none;
}

.bm-burger-bars {
  background-color: #373a47;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 27px;
  right: 30px;
  top: 30px;
}

.bm-menu {
  background: white;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-item.nav-menu__link {
  padding: 0.8em;  
}

.bm-item:not(:last-child) {
  border-bottom: 1px solid;
}

.bm-item:focus, .bm-item:active {
  outline-color: transparent;
  color: #006499;
  text-decoration: none;
}

.bm-cross {
  background: #bdc3c7;
}

.logo {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
}

.logo__img {
  max-height: 100%;
}

.co-title {
  font-size: 18px;
  margin: 0;
  width: 110px;
  padding: 0 15px;
  text-align: right;
}

.slogan {
  margin: 0;
  padding: 15px;
  max-width: 320px;
  font-size: .85em;
  color: grey;
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: space-around;    
}

.phones-list {
  list-style: none;
  padding: 10px 15px;
  margin: 0;
}

.phone {
  font-weight: bold;
  font-size: 1.15em;
}

.nav-menu {
  /* background-color: #CFD8DC; */
  background-color: #ffffff;
  border: 1px solid lightgrey;
}

.nav-menu__list {
  display: flex;
  padding: 8px 12px;
  margin: 0;
  list-style: none;
}

.nav-menu__item.home {
  display: none;
}

.nav-menu__item.tools {
  flex-grow: 1;
}

.nav-menu__item:not(:first-child)>.nav-menu__link {
  border-left: 1px solid lightgrey;
}

.nav-menu__link {
  padding: 5px 20px;
  font-size: 0.85em;
  color: #495057;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
}

.bm-burger-button {
  right: 15px;
  top: 15px;
}

@media (max-width: 767px) {
  .mob-menu {
    display: block
  }

  .nav-menu {
    display: none
  }

  .contacts {
    width: 220px;
    font-size: 0.9em;
    flex-direction: column;
  }
}

@media (max-width: 575px) {
  .top-line {
      padding: 40px 0 25px;
      justify-content: center;
      flex-wrap: wrap;
      text-align: center;
  }

  
}
