.slider__slide.project-slide {
  /* width: 30%; */
  background: white;
  border: 1px solid lightgray;
  position: relative;
}

.slider-with-nav {
  position: relative;
  padding: 10px 0;
}

.nav-slider {
  position: relative;
  display: inline-flex;
  justify-content: center;
}

.slide-container {
  border:1px solid whitesmoke;
  position: relative;
}

.project__description {
  padding: 15px 30px;
}

.slider-with-nav .slide-container {
  padding: 5px;
  border: none;
  text-align: center;
  display: inline-flex !important;
  justify-content: center;
  align-items: center;
  height: 320px;
}

.nav-slider .slide-container {
  padding: 5px;
  height: 70px;
}

.nav-slider .slick-active .slide-container {
  border-color: black;
  border-width: 2px;
}
.slider-with-nav .slick-dots {
  position: relative;
  top: 15px;
}

.project-slider__dots-list {
  padding: 0 15px;
}

.slider-with-nav .slick-dots li.slick-active {
  border: 1px solid #455A64;
}

.slider-with-nav .slick-dots li {
  width: auto;
  height: 60px;
  margin: 0 2px;
}

.slide-preview {
  height: 100%;
  padding: 5px;
}


@media (max-width: 767px) {

}

@media (max-width: 575px) {
  .slider-with-nav .slide-container {
    height: auto;
  }

  .price-block {
    flex-direction: column-reverse;
    height: 65px;
  }

  .project__description {
    padding: 15px 0;
  }
}