/* .map-container {
  padding: 15px 0;
} */

/* .map {
  pointer-events: none;
} */

.org-data {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  bottom: 55px;
  left: 0;
  right: 0;
}

.org-data--item {
  border-radius: 4px;
  background-color: white;
  width: 24%;
  padding: 15px 30px;
  box-shadow: 0px 0px 16px 2px rgba(128, 128, 128, 0.85);
}

.org-data--title {
  font-size: 16px;
  font-weight: bold;
  color: #16618c;
}

.org-data--ico {
  font-weight: normal;
}

.org-data--content {
  margin: 0;
  font-size: 14px;
  color: #455A64;
}

@media (max-width: 767px) {
  .org-data--item {
    width: 49%;
    padding: 15px;
  }

  .org-data--title {
    font-size: 15px;
  }
}

@media (max-width: 575px) {

  
}
