.modal-body {
  min-width: 300px;
  width: 50vw;
  max-width: 475px;
}

.order_form {
  font-size: 14px;
  padding: 15px;
}

.order_form--title {
  font-size: 20px;
  margin-bottom: 20px;
  color: #757575;
  border-bottom: 1px solid;
}

.order_form--alert {
  background-color: whitesmoke;
  color: darkgray;
  font-size: 12px;
  line-height: 18px;
}

.form_tools {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.caution {
  display: flex;
  font-size: 12px;
  min-width: 265px;
  line-height: 16px;
  width: calc(100% - 165px);
  align-items: center;
  color: #9E9E9E;
  flex-grow: 1;
  margin: 0;
  padding: 10px 5px;
}

.caution--icon {
  color: #ffd54f;
  font-size: 1.75em;
}

.order-submit-btn {
  width: 150px;
  margin-left: auto;
}

.form-project-search {
  position: relative;
  padding: 15px;
  border: 2px solid;
}

.form-project-search::before {
    content: "Подобрать проект";
    display: block;
    position: absolute;
    font-size: 20px;
    top: -11px;
    background: white;
    width: 220px;
    text-align: center;
    left: calc(50% - 100px);
}

.form-project-search form {
  padding: 30px 15px;
}

.project-search_btn {
  width: 130px;
  margin-top: 15px;
  margin-bottom: -15px;
}
